.header {
  background-color: $background-beige;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  gap: 15px;
}

.header__icons {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.header__icon-user {
  background-image: url('../assets/icons/user.svg');
}

.header__icon-bascket {
  background-image: url('../assets/icons/bascket.svg');
  position: relative;

  .header__icon-bascket__count {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-weight: 600;
    color: $green;
  }
}

.header__icon-logout {
  background-image: url('../assets/icons/logout-icon.svg');
  margin-left: 5px;
}

.header__icon-logout_hidden {
  display: none;
}

.header__icon-team {
  background-image: url('../assets/icons/team.svg');
  width: 29px;
  height: 25px;
  background-size: cover;
}

@media (max-width: 520px) {
  .header__wrapper {
    gap: 10px;
  }
}
