.header {
  background-color: $background-beige;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  gap: 25px;
}

.header__icons {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.header__name {
  font-weight: 600;
  opacity: 0.8;
  font-size: 1.3rem;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.header__icon-user {
  background-image: url('../assets/icons/user.svg');
}

.header__icon-bascket {
  background-image: url('../assets/icons/bascket.svg');
}

.header__icon-logout {
  background-image: url('../assets/icons/logout-icon.svg');
}

@media (max-width: 520px) {
  .header__wrapper {
    gap: 10px;
  }
}
