.header__logo {
  margin-right: auto;
  cursor: pointer;
}

.logo__peach {
  color: $peach;
}

.logo__green {
  color: $green;
}

.logo__wine {
  color: $wine;
}

@media (max-width: 520px) {
  .header__logo {
    margin: unset;
  }
}
