.main__wrapper {
  padding: 40px;
}

.main__wrapper_thin {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
}

.main__wrapper p {
  margin: 20px 0;
}

.main__blue-text {
  color: $blue;
  font-style: italic;
}
