.profile {
  position: relative;
}

.profile__name {
  font-size: 1.6rem;
  font-weight: 600;
}

.profile__content {
  border-bottom: solid 1px $light-blue;
  padding: 15px;
  background-color: $background-blue;

  & .address-block {
    border: none;
  }
}

.profile__content_hidden {
  display: none;
}

.profile__item {
  padding: 20px 0;
  border-bottom: 1px solid $light-blue;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    right: 20px;
    top: calc(50% - 7px);
    height: 14px;
    width: 14px;
    border: solid 1px $blue;
    opacity: 0.8;
    border-width: 1px 1px 0 0;
    transform-origin: center center;
    box-sizing: border-box;
    transform: rotate(45deg);
    transition: all 0.5s ease-in;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  & p {
    margin-bottom: 10px;
  }
  & input {
    max-width: 350px;
  }
}

.profile__item_active {
  border-bottom: none;
  &::after {
    transform: rotate(-225deg);
  }
}

.profile__address {
  margin-bottom: 10px;
}

.profile__edit-btn {
  position: absolute;
  top: 15px;
  right: 40px;
}

.profile__address-title {
  margin-bottom: 10px;
}
