.promo__item {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__item-1 {
  flex-direction: row-reverse;

  .promo__info-block {
    background-color: $background-beige;
  }
}

.promo__img {
  width: 60%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__img-0 {
  background-image: url(../assets/images/baby_discount.jpg);
}

.promo__img-1 {
  background-image: url(../assets/images/fall_discount.jpg);
}

.promo__info-block {
  width: 40%;
  height: auto;
  padding: 20px;
  background-color: $background-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__info-heading {
  font-size: 3em;
  margin-bottom: 15px;
}

.promo__info-text {
  font-size: 1.4em;
  margin-bottom: 15px;
  text-align: center;

  span {
    font-weight: 600;
    cursor: pointer;
  }

  div {
    font-size: 0.7em;
    font-weight: 600;
  }
}

.promo__btn-to-catalog {
  color: white;
  cursor: pointer;
}

.main-page__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}

@media (max-width: 1100px) {
  .promo__item {
    flex-direction: column;
  }

  .promo__img {
    width: 100%;
    height: 200px;
  }

  .promo__info-block {
    width: 100%;
  }

  .promo__info-heading {
    font-size: 1.7em;
  }

  .promo__info-text {
    font-size: 1.1em;

    div {
      font-size: 0.8em;
    }
  }
}
