@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Regular.woff2') format('woff2'),
    url('../assets/fonts/orbitron/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}