@font-face {
  font-family: 'Josefin-Sans';
  src:
    url('../assets/fonts/josefin-sans/JosefinSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/josefin-sans/JosefinSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
    url('../assets/fonts/montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
