h1 {
  font-family: 'Josefin-Sans', sans-serif;
  font-size: 4rem;
  line-height: 1.3;
  color: $blue;
}

h2 {
  font-family: 'Josefin-Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  color: $blue;
}
