$background-beige: #f8f5ed;
$background-blue: #dfe5e1;
$background-white: #ffffff;
$blue: #97a4c3;
$green: #8b9510;
$peach: #ffa167;
$wine: #ce6a52;
$font-dark: #545454;
$font: #333333;
$light-blue: #dde3f5;
$disabled: #f1f1f1;
$dimming: rgba(0, 0, 0, 0.4);
